#### pandas is pannel data and its a core libary used for data manipualtion and data analysis

In [1]:
import pandas as pd

In [2]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [3]:
# creating a series object (its a 1d labbeled array)
# to create a series object use method .Series([]) and pass list in side it
s1 = pd.Series([10, 20, 30, 40, 50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
# above output shows label and values label automatically start from 0

In [5]:
type(s1)

pandas.core.series.Series

In [6]:
## changing index

In [7]:
## as we know that the series object have label values init we can change that label index like this

In [8]:
s1 = pd.Series([10, 20, 30, 40, 50] , index =['a','b','c','d','e'])
s1

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [9]:
## we can create this series object with the help of dictonary

In [10]:
pd.Series({'Pakistan': 'Karachi', 'Uk':'london','India':'Mumbai'})

Pakistan    Karachi
Uk           london
India        Mumbai
dtype: object

In [11]:
## automatically keys are taken as label and remainig as value

In [12]:
## defining dictonary
d1 = {0:'a',1:'b',2:'c'}
d1

{0: 'a', 1: 'b', 2: 'c'}

In [13]:
## then use .Series() to series object

pd.Series(d1)

0    a
1    b
2    c
dtype: object

In [14]:
### we can change the index postion in the dictonaries and those key which dont exist will have a NAN type 
s2 = pd.Series({0:'a',1:'b',2:'c'} , index =[1,0,2,7])
print(s2)

1      b
0      a
2      c
7    NaN
dtype: object

In [15]:
## 2 way
d1 = {'A':10 , 'B':20,'C':30}

In [16]:
pd.Series(d1,index = ['B','C','A']  )

B    20
C    30
A    10
dtype: int64

In [17]:
## extracting single object from the series object just like we do in list

In [18]:
d1 = pd.Series([1 ,2 ,3,4,5,6,7,8,9,10])
d1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [19]:
# extracting just one element
d1[5]

6

In [20]:
## extracting bunch of elemnts in sequence the index pass in +ve index is exclusivce
d1[:6]

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [21]:
## using negative indexing to extract elemnt from back side
d1[-3:]

7     8
8     9
9    10
dtype: int64

In [22]:
# you can add a scalar value to series object it will be implement on each elementit will be just like simple additon

In [23]:
f1 = pd.Series([1 , 2 , 3 , 4 , 5 , 6])
f1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [24]:
f1 += 4
print(f1)

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [25]:
## adding two series objectsjust lik normal addition

In [26]:
v1 = pd.Series([10 , 20 , 30 ,40 ,50])
v2 = pd.Series([10 , 20 , 30 ,40 ,50])
resu = v1+v2
print(resu)

0     20
1     40
2     60
3     80
4    100
dtype: int64

In [27]:
v1 = pd.Series([10 , 20 , 30 ,40 ,50 ,60 ,70])
v2 = pd.Series([10 , 20 , 30 ,40 ,50])
resu = v1+v2
print(resu)

0     20.0
1     40.0
2     60.0
3     80.0
4    100.0
5      NaN
6      NaN
dtype: float64

In [28]:
## dataframe is 2-D array labelled data structure it contains major part of ai and data science projects as tabular data it contains row and column

In [29]:
## creating a datafame

In [30]:
##.DataFrame() is method from which you can create a dataframe u can pass simpily a dictonary init

In [31]:
datafram_1 = pd.DataFrame({"Name" : ["Meesam" , "Ali"], "Marks":[100,20]})
datafram_1

     Name  Marks
0  Meesam    100
1     Ali     20

In [32]:
type(datafram_1)

pandas.core.frame.DataFrame

In [33]:
## there are some basic in built function for datad frame

In [34]:
## .head()   --> gives the first 5 records from data sets
## .tail()   -> gives the last 5 records from data sets
## .describe()   -> gives the mean , count , max , min ,std 
## .shape   -> returns the no of rows and column of the data set

In [35]:
## to implement these built in functions we are performin it on a dataset called irirs
## to read csv file there is method called .read_csv('') you have to pass the name of file

In [36]:
'''A simple way to store big data sets is to use CSV files (comma separated files).
CSV files contains plain text and is a well know format that can be read by everyone including Pandas.'''

'A simple way to store big data sets is to use CSV files (comma separated files).\nCSV files contains plain text and is a well know format that can be read by everyone including Pandas.'

In [37]:
iris = pd.read_csv('iris.csv')

In [38]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [39]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [40]:
iris.shape

(150, 6)

In [41]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [42]:
## we can extract individual column and row from that data base through this method 


##.iloc[]

In [43]:
iris.iloc[0 : 3 ,0 : 2]

   Id  SepalLengthCm
0   1            5.1
1   2            4.9
2   3            4.7

In [44]:
iris.iloc[0 : 12 ,0 : 6]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa

In [45]:
iris.iloc[12 :21, 0 : ]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa

In [46]:
## if we want to extract columns in the form of names then we have to use this function 
## .loc[] but in it you have to just remeber that the last index is inclusive and the you have to pass names in the brackets form

In [47]:
iris.loc[0:9,("Id","Species")]

   Id      Species
0   1  Iris-setosa
1   2  Iris-setosa
2   3  Iris-setosa
3   4  Iris-setosa
4   5  Iris-setosa
5   6  Iris-setosa
6   7  Iris-setosa
7   8  Iris-setosa
8   9  Iris-setosa
9  10  Iris-setosa

In [48]:
iris.loc[10:21,("Id","Species","SepalLengthCm")]

    Id      Species  SepalLengthCm
10  11  Iris-setosa            5.4
11  12  Iris-setosa            4.8
12  13  Iris-setosa            4.8
13  14  Iris-setosa            4.3
14  15  Iris-setosa            5.8
15  16  Iris-setosa            5.7
16  17  Iris-setosa            5.4
17  18  Iris-setosa            5.1
18  19  Iris-setosa            5.7
19  20  Iris-setosa            5.1
20  21  Iris-setosa            5.4
21  22  Iris-setosa            5.1

In [49]:
## if you want to drop out a paticular data(column) from a data set then u have to use this

## .drop()
## if i want to drop a column then i have to use "axis = 1"
## if i want to drop a row then i have to use "axis = 0"
## in row you can pass multiple rows in the form of ""[]""

In [50]:
iris.drop("PetalWidthCm", axis = 1)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm         Species
0      1            5.1           3.5            1.4     Iris-setosa
1      2            4.9           3.0            1.4     Iris-setosa
2      3            4.7           3.2            1.3     Iris-setosa
3      4            4.6           3.1            1.5     Iris-setosa
4      5            5.0           3.6            1.4     Iris-setosa
..   ...            ...           ...            ...             ...
145  146            6.7           3.0            5.2  Iris-virginica
146  147            6.3           2.5            5.0  Iris-virginica
147  148            6.5           3.0            5.2  Iris-virginica
148  149            6.2           3.4            5.4  Iris-virginica
149  150            5.9           3.0            5.1  Iris-virginica

[150 rows x 5 columns]

In [51]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [52]:
iris.drop("PetalWidthCm", axis = 1)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm         Species
0      1            5.1           3.5            1.4     Iris-setosa
1      2            4.9           3.0            1.4     Iris-setosa
2      3            4.7           3.2            1.3     Iris-setosa
3      4            4.6           3.1            1.5     Iris-setosa
4      5            5.0           3.6            1.4     Iris-setosa
..   ...            ...           ...            ...             ...
145  146            6.7           3.0            5.2  Iris-virginica
146  147            6.3           2.5            5.0  Iris-virginica
147  148            6.5           3.0            5.2  Iris-virginica
148  149            6.2           3.4            5.4  Iris-virginica
149  150            5.9           3.0            5.1  Iris-virginica

[150 rows x 5 columns]

In [53]:
iris.drop([1,2,3,4,5],axis = 0)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
9,10,4.9,3.1,1.5,0.1,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [54]:
## more pandas function

In [55]:
## .mean()      --> if you want to find mean values of all of the column use this 
## .median()    --> if you want to find median values of all of the column use this
## .max()       --> if you want to find max values of all of the column use this
## .min()       --> if you want to find min values of all of the column use this

In [60]:
iris.max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [59]:
iris.min()

Id                         1
SepalLengthCm            4.3
SepalWidthCm             2.0
PetalLengthCm            1.0
PetalWidthCm             0.1
Species          Iris-setosa
dtype: object